
*.mp3
MNIST-Gen/training_checkpoints/
AudioGan/audio/
AudioGan/checkpoints/
AudioGan/checkpoints2/
AudioGan/checkpoints3/
AudioGan/checkpointsOld/
AudioGan/datasets/
AudioGan/logs/
AudioGan/out/
AudioGan/Out1/
AudioGan/Out2/
AudioGan/out3/
AudioGan/training/
AudioGan/training1/
AudioGan/training2/
AudioGan/v1/
*.wav
AudioGan/audio.zip
